{% extends "base/consent.html" %}
{% block consent_text %}
            <p style="font-size:130%;">This research is being conducted by Dr Charlotte Brand, a researcher at The University of Exeter. This study takes 20 minutes.</p>

            <p style="font-size:130%;">If you agree to take part in the research, you will complete a study that involves answering 100 quiz questions as part of an online group. You will never meet the other players, but you will be able to copy their answers if you are unsure of an answer. You will be paid individually based on how many points you score. <b> All of the data we obtain during the research will be anonymised. </b> While the study is running your data will be associated with your MTurk worker id, however once you copmlete the study your worker id is automatically updated with random letters in our database.</p>

            <p style="font-size:130%;"> <b> Your participation in this research is entirely voluntary. </b> You are free to refuse to take part, and you may stop taking part at any time with no penalty by closing your window.</p>

            <p style="font-size:130%;">If you have any questions about this research, do not hesitate to contact the researcher at culturalevolution@exeter.ac.uk If you have any questions about your rights or treatment as a participant in this research project, please contact culturalevolution@exeter.ac.uk .</p>

            <p style="font-size:130%;">By consenting to participate, you acknowledge that you are 18 years or older, have read and understood this consent form, agree to its contents, and agree to take part in this research. If you do not wish to consent, close this page and return the HIT on MTurk.</p>
            {% endblock consent_text %}

{% block consent_button %}
    <button type="button" id="consent" class="btn btn-primary btn-lg">I agree</button>
{% endblock %}
{% block reject_button %}
    <button type="button" id="no-consent" class="btn btn-danger btn-lg">No thanks (exit HIT)</button>
{% endblock %}
