{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h2 id="welcome"></h2>
        <br>
        <p id="question_number"></p>
        <h3 id="question">Please wait for the other players to catch up.</h3>
        <button id="submit-copy" type="button" class="btn btn-primary">Ask Someone Else</button>
        <button id="submit-a" type="button" class="btn btn-primary">Answer A</button>
        <button id="submit-b" type="button" class="btn btn-primary">Answer B</button>
        <br>
        <div id="neighbor_buttons"></div>
        <div id="info-choice-buttons">
        <button id="info-choice-a" type="button" class="btn btn-primary">Their Player ID</button>
        <button id="info-choice-b" type="button" class="btn btn-primary">How many times they were copied in Round 1</button>
        <button id="info-choice-c" type="button" class="btn btn-primary">Their total score on Round 1</button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        create_agent();
        add_neighbor_buttons();
    </script>
{% endblock %}
