{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h2 id="welcome"></h2>
        <br>
        <p id="question_number"></p>
        <p id="topic"></p>
        <h3 id="question"></h3>
        <h2 id="badluck"></h2>
        <h3 id="goodluck"></h3>
        <button id="submit-copy" type="button" class="btn btn-primary">Ask Someone Else</button>
        <button id="submit-a" type="button" class="btn btn-primary">Answer A</button>
        <button id="submit-b" type="button" class="btn btn-primary">Answer B</button>
        <br>
        <div id="neighbor_buttons"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        create_agent();
        add_neighbor_buttons();
    </script>
{% endblock %}
