{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <div id="welcome_div">
            <h2 id="welcome"></h2>
            <br>
            <h4 id="question_number"><font color="blue"></font></h4>
            <img id = "pics" src="/static/images/1.png" alt="q1" height="320" width="450">
            <h3 id="question">Please wait for the other players to catch up.</h3>
            <h4 id="question1"></h4>
            <h3 id="question2"></h3>
        </div>
        <div id= "submit_div">
            <div>
            <button id="submit-a" type="button" class="btn btn-primary">Answer A</button>
            <button id="submit-b" type="button" class="btn btn-primary">Answer B</button>
            </div>
            <br>
            <div>
            <button id="submit-copy" type="button" style="background-color:#8b0000" class="btn btn-primary">Ask Someone Else</button>
            <h2 id="countdown"></h2>
            </div>
        </div>
        <div id="neighbor_buttons">
        </div>
        <div id="info-choice-buttons">
            <button id="info-choice-a" type="button" class="btn btn-primary"></button>
            <button id="info-choice-b" type="button" class="btn btn-primary"></button>
        </div>
        <div id="round2div">
            <h4 id="r2info"></h4>
            <button id="round2okay" type="button" class="btn btn-primary">Okay I understand</button>
        </div>
        <div id="round2div_check">
            <h4 id="r2_check"> What information will you be able to choose from if you click "Ask someone else"?</h4>
            <button id="check_AB" type="button" class="btn btn-primary"> Player ID or Times Chosen in Round 1 </button>
            <button id="check_C" type="button" class="btn btn-primary"> Total Score or Times Chosen in Round 1 </button>
            <h4 id="wrong_check"><font color="red"></font></h4>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        create_agent();
        add_neighbor_buttons();
    </script>
{% endblock %}
