{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Instructions</h1>

        <hr>

        <p>In this experiment, you will be taking part in a quiz with a group of 10-15 other people. <br> You will have to answer 100 general knowledge questions. <br> There are four topics: Geography, Art History, Language recognition, and Weight estimation. <br> You get one point for each correct answer <br> <b>You will be paid based on your points </b>, but if you are unsure of an answer, you can 'ask someone else' in your group. <br> Everybody has an ID number, and you can use someone else's answer by selecting "Ask Someone Else" and choosing their ID number. <b>If the person you choose answered correctly, you will also get a point for that question.</b> <br> If the person you choose answered incorrectly, you will <b>not</b> get a point for that question. <br> <br> <b> If you score over 90 points you will receive $20 </b> 
        </p>

        <hr>

        <div>
            <div class="row">
                <div class="col-xs-10"></div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-success btn-lg" onClick="dallinger.allowExit(); dallinger.goToPage('exp');">
                    Begin</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        dallinger.createParticipant();
    </script>
{% endblock %}
