{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Instructions</h1>

        <hr>

        <p>In this experiment, you will be taking part in a quiz with a group of other participants. You will have to answer 100 general knowledge questions. There are four topics: Geography, Art History, Language recognition, and Weight estimation. You will be paid based on your score, but if you are unsure of an answer, you can ask someone else in your team. Everybody has an ID number, and you can use someone else's answer by selecting "Ask Someone Else" and choosing their ID number.</p>

        <hr>

        <div>
            <div class="row">
                <div class="col-xs-10"></div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-success btn-lg" onClick="dallinger.allowExit(); dallinger.goToPage('exp');">
                    Begin</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        dallinger.createParticipant();
    </script>
{% endblock %}
