{% extends "base/questionnaire.html" %}


{% block replace_questions %}
    <div class="row question">
        <div class="col-md-8">
            Please provide your age in years:
        </div>
        <div class="col-md-4">
            <form> Age :<br>
            <input type="text" name="age"><br>
            </form>
        </div>
    </div>
    <div class="row question">
        <div class="col-md-8">
            Please provide the gender that was assigned to you at birth:
        </div>
        <div class="col-md-4">
            <form>
            <input type="radio" name="gender" value="male" checked> Male<br>
            <input type="radio" name="gender" value="female"> Female<br>
            <input type="radio" name="gender" value="other"> Prefer not to say
            </form>
        </div>
        <div class="col-md-8">
            Please provide your nationality:
        </div>
        <div class="col-md-4">
            <form> Nationality :<br>
            <input type="text" name="nationality"><br>
            </form>
        </div>
        <div class="col-md-8">
            Please provide your current occupation:
        </div>
        <div class="col-md-4">
            <form> Occupation :<br>
            <input type="text" name="occupation"><br>
            </form>
        </div>
    </div>
{% endblock %}

