{% extends "layout.html" %}

{% block libs %}
    {{ super() }}
    <script src="/static/scripts/questionnaire.js" type="text/javascript"> </script>
{% endblock %}

{% block body %}
    <div class="main_div">
        <h1>Thank you</h1>
        <hr>
        <h4> Well done! You scored <span id="score_info"></span> and are <span id="bonus_info"></span>.</h4>

        <p>Thank you for taking part in our experiment, we appreciate your time. Our experiment was investigating who people choose to copy from when they are unsure of an answer themselves. We were interested in knowing whether people copy the most successful people, or if that information is not available to them, do they copy those who others have copied previously.
        The quiz questions were intentionally extremely hard, to encourage people to "ask someone else". Please do not feel disheartened if you did not get a high enough score for the bonus, we anticipated this to be extremely rare due to the difficulty of the task.
        If you have any further questions or concerns, please contact culturalevolution@exeter.ac.uk
        You are being redirected back to the HIT window, which should refresh.
        If you do not see the HIT submission form when you return, try refreshing
        the page.</p>

        <div class="main_div">
            <form>
                <div class="row question">
                    <div class="col-md-8">
                        Please provide your age in years:
                    </div>
                    <div class="col-md-4">
                        <form> Age :<br>
                        <input type="text" name="age"><br>
                        </form>
                    </div>
                </div>
                <div class="row question">
                    <div class="col-md-8">
                        Please provide the gender that was assigned to you at birth:
                    </div>
                    <div class="col-md-4">
                        <form>
                        <input type="radio" name="gender" value="male" checked> Male<br>
                        <input type="radio" name="gender" value="female"> Female<br>
                        <input type="radio" name="gender" value="other"> Prefer not to say
                        </form>
                    </div>
                    <div class="col-md-8">
                        Please provide your nationality:
                    </div>
                    <div class="col-md-4">
                        <form> Nationality :<br>
                        <input type="text" name="nationality"><br>
                        </form>
                    </div>
                    <div class="col-md-8">
                        Please provide your current occupation:
                    </div>
                    <div class="col-md-4">
                        <form> Occupation :<br>
                        <input type="text" name="occupation"><br>
                        </form>
                    </div>
                </div>
            </form>
        </div>
        <hr>
        <di class="instructionsnav">
            <div class="row">
                <div class="col-xs-2">
                </div>
                <div class="col-xs-7">
                </div>
                <div class="col-xs-3">
                    <button type="button" id="submit-questionnaire" class="btn btn-primary btn-lg continue">Continue</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function () {
      $("#submit-questionnaire").click(function() {
        dallinger.submitQuestionnaire();
      });
    });
  </script>
{% endblock %}


